.table__imc{
    text-transform: uppercase;
    width: 560px;
    line-height: 30px;
    font-size: 13px;
    border-spacing: 0;
}

.table__imc thead tr th{
    text-align: left;
    background-color: var(--cortext);
}

.tabela__imc tbody {
    color: var(--cortext);
    font-weight: bold;
}

.tabela__imc tbody td{
    border-bottom: 2px solid var(--corline);
    padding-left: 28px;
}

.tabela__imc tbody .tabela__heading{
    color: #1572ec;
    letter-spacing: 1px;
    font-weight: normal;
    border-bottom: 2px solid var(--cortext);
}

span{
    padding-left: 12px;
}

@media screen and(max-width:768px){
    .tabela__imc{
        width: 330px;
        margin: 0 auto;
        max-width: 100%;
        font-size: 12px;
    }

    .tabela__imc tbody td{
        padding-right: 4px !important;
        font-size: 10px;
        padding-left: 4px;
    }
}