.event{
    padding: 80px 0;
    color: #fff;

    &--djFesta{
        background-image: linear-gradient(#0d349c,#081f63);
    }

    &--salao{
        background-image: linear-gradient(#081f63,#4613bd);
    }

    &--roupaTematica{
        background-image: linear-gradient(#4613bd,#6a11bd);
    }

    &--image-left{
        .container{
            flex-direction: row-reverse;
        }
    }

    .container{
        display: flex;
        gap: 40px;
    }

    &__image{
        max-width: 360px;
    }

    &__detail{
        &__title{
            font-size: 18px;    
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description{
            font-size: 17px;
            line-height: 22px;
        }
    }

        @media (max-width:640px){
            .container{
                display: block;
            }

            &__image {
                width: 100%;
            }

            &__details{
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
}